{% extends "base.html" %}
{% block navigation%}
{% include "nav.html" %}
{% endblock %}
{% block javascript %}
<script>
    $(function() {
        $('img.theme-images').hide();
        $('#theme-' + $('select[name=thememapper_theme]').val()).show();
        $('select[name=thememapper_theme]').change(function() {
            $('img.theme-images').hide();
            $('#theme-' + $(this).val()).show();
        });
    });
</script>
<style>
    input[type="text"] {
        width: 626px;
    }
</style>
{% endblock %}
{% block content %}
<form method="post" action="">
    <h2>ThemeMapper Settings</h2>
    <label>Port</label>
    <input type="text" name="thememapper_port" value="{{ settings['thememapper_port'] }}" placeholder="5001" />
    <label>Content url</label>
    <input type="text" name="thememapper_content_url" value="{{ settings['thememapper_content_url'] }}" placeholder="http://localhost/" />
    <label>Themes directory</label>
    <input type="text" name="thememapper_themes_directory" value="{{ settings['thememapper_themes_directory'] }}" placeholder="/path/to/themes/" />
    <label>Active theme</label>
    <select name="thememapper_theme">
        {% for theme in mapper.get_themes() %}
            <option value="{{ theme['name'] }}" {% if theme['active'] %}selected="selected"{% endif %}>{{ theme['name'] }}</option>
        {% endfor %}
    </select><br/>
    {% for theme in mapper.get_themes() %}
    {% if 'preview' in theme %}
        <img class="theme-images" id="theme-{{ theme['name'] }}" src="/mapper/iframe/theme{{ theme['preview'] }}" />
    {% endif %}
    {% endfor %}
    <h2>Diazo Settings</h2>
    <label style="display:inline-block">Use local thememapper.diazo</label>&nbsp;&nbsp;
    <input style="margin:0;" type="checkbox" name="diazo_run" value="True" {% if settings['diazo_run'] == 'True' %}checked="checked"{% endif %} />
    <label>Ip</label>
    <input type="text" name="diazo_ip" value="{{ settings['diazo_ip'] }}" placeholder="127.0.0.1" />       
    <label>Port</label>
    <input type="text" name="diazo_port" value="{{ settings['diazo_port'] }}" placeholder="5000" />
    <label>Static path | Only use if you know what your are doing. Default: empty</label>
    <input type="text" name="static_path" value="{{ settings['static_path'] }}" placeholder="" />
    <br/>
    <button class="btn btn-primary" style="margin-top:5px;" type="submit">Save settings</button>
</form>
{% endblock %}
