{% extends "base.html" %}
{% block navigation%}
{% include "nav.html" %}
{% endblock %}
{% block content %}
<form method="post" action="">
    <h2>Mapper Settings</h2>
    <label>Address</label>
    <input type="text" name="mapper_ip" value="" placeholder="0.0.0.0" style="margin-right:5px;" /><input type="text" name="mapper_port" value="" placeholder="5001" />
    <label>Content url</label>
    <input type="text" name="mapper_content_url" value="" placeholder="http://localhost/" />
    <label>Themes directory</label>
    <input type="text" name="mapper_themes_directory" value="" placeholder="/path/to/themes/" />
    <h2>Diazo Settings</h2>
    <label>Address</label>
    <input type="text" name="diazo_ip" value="" placeholder="127.0.0.1" style="margin-right:5px;" /><input type="text" name="diazo_port" value="" placeholder="5000" />
    <br/>
    <button class="btn btn-primary" style="margin-top:5px;" type="submit">Save settings</button>
</form>
{% endblock %}