body { padding:10px;font-family:arial; }
a { text-decoration: none; }
a:visited { color:inherit; }
clear { clear:both; }
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/
.cf:before,.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/
.cf { *zoom: 1; }
textarea { box-sizing:border-box;-moz-box-sizing:border-box;border-color:#ccc; }
#theme-iframe * { border: 1px solid red;box-sizing:border-box;-moz-box-sizing:border-box; }
#theme-iframe-wrap { width:49%;float:left; }
#content-iframe-wrap { width:49%;float:right; }
.theme-mapper-selected { border:2px solid red !important; box-sizing:border-box;-moz-box-sizing:border-box; }
iframe.iframe { height:450px;width:100%;display: block;border: 1px solid #ccc;margin-bottom:0px;box-sizing:border-box;-moz-box-sizing:border-box; }
.CodeMirror { border: 1px solid #eee !important;height: auto !important; }
.CodeMirror-scroll { overflow-y: hidden !important; overflow-x: auto !important; }
#mask { display:none;height:100%;width:100%;position: fixed;top:0;left:0;z-index: 999; background-color: rgba(0,0,0,0.5); }
#mask_content { background-color:#fff;margin-top:200px;box-shadow: 5px 5px rgba(0,0,0,0.5);margin-left:auto;margin-right:auto;width:500px;box-sizing:border-box;-moz-box-sizing:border-box;border-radius:10px;padding:15px; }
#mask_content .mask_content_block h1 { margin:0 auto; }
#rule_preview { width:100% !important; resize: none;font-size:12px; }
#rule_generate_box { display:none; }
#rule_generate_box input { margin-top:auto; }
#rule_generate_box label { margin-top:auto; display:inline; }
.selector-wrap .selector{ float:left;width:50%;margin-top:0;margin-bottom:5px;height:24px;font-size:14px;line-height:24px;background-color:#ccc;text-align:right;padding-right:10px;box-sizing:border-box;-moz-box-sizing:border-box; }
div.width-full { width: 100%; }
.iframe-menu { text-align:right; }
.nav .last { border-right:2px solid white; }
.nav .extra a  { color:#00858c  !important; }
.nav .extra a:hover, .nav .extra.active a{ color:#31d0d8 !important; }